body{
    background-color: #3b7799fa;
    display: block;
    width: 100%;
    justify-content: center;
}
#quoteContainer{
    text-shadow: 2px 2px black;
    color: whitesmoke;
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 50%;
    
}

#quoteContainer *{
    display: flex;
    justify-content: center;

}
#quote{
    height: 10em;
    overflow-y: auto;
}

#source{
    color: #86c9f0;
    text-shadow: 2px 2px rgb(46, 47, 48);
    
}
#citation{
    color: #6dc1f1;
    font-style: italic;
   
    
}
#year{
padding-top: .5em;
}

#buttonContainer{
    padding-top: .8em;
    display: flex;
    justify-content: center;
    
}